{% if tweet.text %}
<div class="card">
    {% if tweet.entities.media.0.type == 'photo' %}
    <div class="card-image">
        <figure class="image">
            <img src="{{ tweet.entities.media.0.media_url_https }}">
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{ tweet.user.profile_image_url_https }}">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-5">{{ tweet.user.name }}</p>
                <p class="subtitle is-6">@{{ tweet.user.screen_name }}</p>
            </div>
        </div>
        <div class="content">
            {% if tweet.extended_tweet.full_text %}
            {{ tweet.extended_tweet.full_text|safe }}
            {% else %}
            {{ tweet.text|safe }}
            {% endif %}
            <a href="//twitter.com/statuses/{{ tweet.id }}/" target="{{ tweet.id }}">View</a>
            <br>
            <time>{{ tweet.created_at }}</time>
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
            <small> {{ tweet.retweet_count }}</small>
        </div>
        <div class="card-footer-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
            <small> {{ tweet.favorite_count }}</small>
        </div>
        <div class="card-footer-item">
            <span class="icon is-small"><i class="fas fa-quote-right"></i></span>
            <small> {{ tweet.quote_count }}</small>
        </div>
    </footer>
</div>
{% endif %}