<nav class="navbar is-dark">
    <div class="navbar-brand">
        <div class="navbar-item logo">
            {{ PROJECT_TITLE }}
        </div>
        <label class="navbar-burger burger" for="navbar-toggle-state">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="{{ LOGIN_URL }}">Admin</a>
        </div>
    </div>
</nav>