<nav class="navbar is-dark">
    <div class="navbar-brand">
        <div class="navbar-item logo">
            <i class="fa fa-chevron-left"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <span>/</span>
            <i class="fa fa-chevron-right"></i>
        </div>
        <label class="navbar-burger burger" for="navbar-toggle-state">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="{{ LOGIN_URL }}">Manage</a>
        </div>
    </div>
</nav>