{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="{% url 'filter-detail' object.id %}">{{ object.title }}</a>
      </h1>
      <h2 class="subtitle">
        This filter is {% if not object.active %}not{% endif %} active,
        has {{ object.number_of_tweets }} tweets,
        average {{ object.sentiment }} sentiment
        {% if query_field %}
        | Results filtered by:
        <span class="tag is-medium is-info">
          {{ query_field }}: {{ query_value }}
          <a class="button delete is-small" href="{% url 'filter-detail' object.id %}"></a>
        </span>
        {% endif %}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-three-quarters">
        {% for a in object.get_aggregations %}
        <div class="chart">
          <p class="title">{{ a.title }}</p>
          <canvas id="{{ a.slug }}"></canvas>
        </div>
        {% endfor %}
        <div class="chart">
          <p class="title">Words</p>
          <div class="wordcloud" id="wordcloud"></div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div id="tweets">
          {% include 'chirp/includes/tweets.html' %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'vendor/vue/dist/vue.min.js' %}"></script>
<script src="{% static 'vendor/wordcloud2.js/src/wordcloud2.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/tweets.js' %}"></script>
<script>
$(function() {
  {% for a in object.get_aggregations %}
  chart('{% url "perform-aggregation" object.id a.id %}' + window.location.search, '#{{ a.slug }}', '{{ a.title }}', {{ a.id }}, {% if a.query_field %}'{{ a.query_field }}'{% else %}undefined{% endif %});
  {% endfor %}

  wordcloud('{% url "get-words" object.id %}' + window.location.search, 'wordcloud');
});
</script>
{% endblock %}