{% extends "base.html" %}

{% block main %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ object.title }}</h1>
    <h2 class="subtitle">
      The filter is {% if not object.active %}not{% endif %} active,
      has {{ object.number_of_tweets }} tweets,
      average {{ object.sentiment }} sentiment
    </h2>

    <div class="columns is-multiline">
      {% for a in object.get_aggregations %}
      <div class="column is-half">
        <p class="title">{{ a.title }}</p>
        <canvas id="{{ a.slug }}"></canvas>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
$(function() {
  var colours = ['#9e0142', '#d53e4f', '#f46d43', '#fdae61', '#fee08b', '#ffffbf', '#e6f598', '#abdda4', '#66c2a5', '#3288bd', '#5e4fa2'];

  {% for a in object.get_aggregations %}
  $.getJSON('{% url "perform-aggregation" object.id a.id %}', function(data) {
    var ctx = $('#{{ a.slug }}');
    var charType = 'bar';
    var labels = [];
    var datasetsObj = {};
    var values = [];
    var datasets = [];
    var scales = {};

    if (data.length > 1 && data.length < 4) {
      charType = 'doughnut';
    }

    for (var i = 0; i < data.length; i++) {
      data[i].id = data[i]._id;

      var el = data[i].id;
      if (el.id) {
        labels.push(el.value);

        if (!(el.id in datasetsObj)) {
          datasetsObj[el.id] = {};
          datasetsObj[el.id].label = el.id;
          datasetsObj[el.id].backgroundColor = colours[Object.keys(datasetsObj).length - 1];
          datasetsObj[el.id].data = [];
        }
        datasetsObj[el.id].data.push(data[i].value);
      } else {
        labels.push(data[i].id);
        values.push(data[i].value);
      }

      delete data[i]._id;
    }

    if ($.isEmptyObject(datasetsObj)) {
      datasets = [{
        label: '{{ a.title }}',
        backgroundColor: colours,
        borderColor: colours,
        data: values,
      }];
    } else {
      labels = Array.from(new Set(labels));

      for (var key in datasetsObj) {
        datasets.push(datasetsObj[key]);
      }

      scales = {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      };
    }

    var chart{{ a.id }} = new Chart(ctx, {
      type: charType,
      data: {
        labels: labels,
        datasets: datasets
      },
      options: {
        responsive: true,
        scales: scales
      }
    });
  })
  .fail(function() {
    alert( "error" );
  });
  {% endfor %}
});
</script>
{% endblock %}