{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ object.title }}</h1>
    <h2 class="subtitle">
      The filter is {% if not object.active %}not{% endif %} active,
      has {{ object.number_of_tweets }} tweets,
      average {{ object.sentiment }} sentiment
    </h2>

    <div class="columns is-multiline">
      {% for a in object.get_aggregations %}
      <div class="column is-half">
        <p class="title">{{ a.title }}</p>
        <canvas id="{{ a.slug }}"></canvas>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block footer_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="{% static '/js/charts.js' %}"></script>
<script>
$(function() {
  {% for a in object.get_aggregations %}
  chart('{% url "perform-aggregation" object.id a.id %}', '#{{ a.slug }}', '{{ a.title }}', {{ a.id }});
  {% endfor %}
  d
});
</script>
{% endblock %}